<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/download.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MyCtrl">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Network Test Tool</h1>
      </ion-header-bar>

      <ion-content padding="true">
          <div ng-controller="MyPing">
              <form name="myForm">
                <label for="repeatSelect" class = "item item-input item-select item-calm" > 選擇站台 : 
                <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="Preference(data.model);showLoading();" >
                  <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
              </label>
              </form>
              <ion-list>
                  <ion-item-sliding >
                    <ion-item>
                        <div class="card" ng-controller="MyPing">
                          <div class="item item-divider">
                              <h1>Network : {{network}}</h1>
                          </div>
                          <div class="item">
                                <ion-label>SSID : {{getCurrentSSID}}</ion-label>
                                <ion-label>MAC : {{BSSID}}</ion-label>
                                <ion-label>LEVEL : {{LEVEL}}</ion-label>
                          </div>
                        </div>
                      <ion-card>
                              <div class="card" ng-controller="MyPing">
                                  <div class="item item-divider">
                                      <h1 ng-model="pingStatus">Ping : {{pingStatus}} </h1>
                                  </div>
                                  <div class="item">
                                      <ion-label ng-model="pingTarget">Source : {{pingTarget}} </ion-label>
                                      <ion-label ng-model="pingAvgRtt">Avg Rtt: {{pingAvgRtt}} </ion-label>
                                      <ion-label ng-model="pingpctLoss">Lost : {{pingpctLoss}} </ion-label>
                                      <p id="speedTest" style="color:rgb(55, 55, 55);"></p>
                                  </div>
                              </div>
                      </ion-card>
                      <ion-card>
                        
                          <div class="card" ng-controller="MyVideo">
                              <div class="item item-divider">
                                  <h1>Video</h1>
                              </div>
                              <div class="item">
                                  <div class="col text-center">
                                    <button class="button icon-left ion-play button-positive" ng-click="playVideo()">
                                        Play Video Now
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </ion-card>
                    </ion-item>
                  </ion-item-sliding>
                </ion-list>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
