<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MyCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>

      <ion-content padding="true">
          <div ng-controller="MyPing">
              <form name="myForm">
                <label for="repeatSelect"> 選擇站台 : </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="Preference(data.model);showLoading();">
                  <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
              </form>
        <div class="card">
            <div class="item item-text-wrap">
                <h1>Network : {{network}}</h1>
                <ion-toggle ng-model="isOnline" ng-checked="item.checked">
                  </ion-toggle>
            </div>
        </div>
        <div class="card">
            <div class="card" ng-controller="MyPing">
                <div class="item item-text-wrap">
                  <h1 ng-model="pingStatus">Ping : {{pingStatus}} </h1>
                  <h3 ng-model="pingTarget">pingTarget : {{pingTarget}} </h3>
                  <h3 ng-model="pingpctLoss">Lost : {{pingpctLoss}} </h3>
                </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
